# .a .o .obj .exe ファイルは無視
*.a
src/*.a
*.o
src/*.o
*.obj
src/*.obj
*.exe
child.out
src/*.exe
src/.deps/*
src/dist/*
src/getperf
src/getperfctl
src/getperfzip
src/getperfsoap
src/logretrieve
test/getperf
test/getperfctl
test/getperfzip
test/getperfsoap
test/logretrieve
test/gpf_test
test/testcmd
test/cfg/network/*
test/home/network/*
test/cfg/ssl/*
test/_log/*

Agent.pm
src/conf/ssl/*
test/test_config.h
var/*/*

win32/bin/*
win32/ssl/**
win32/zlib/**
win32/CUnit/**

# autotool 関連のファイルは無視
/Makefile
src/Makefile
config.log
config.status
autom4te.cache/*
include/config.h
include/stamp-h1
win32/install/getperf-2.5.log
