/Getperf-*
/.build
/_build*
/Build
MYMETA.*
!META.json
cpanfile.*
/docs/html/*
/t/cacti_cli/**
/t/staging_data/*
/.prove
/config/*.json
/log/*
/var/cacti/*
/var/zabbix/*
/var/agent/*
/var/docs/*
/var/site/*
/var/template/*
/module/getperf-ws/build/
/module/getperf-ws/lib/
**/*.rrd
docs/html.zip
docs/ja/docs/_build/

!.gitkeep
/config/ssl/
/config/site/
/t/rra/
/t/rrd/storage/
/module/getperf-ws/.gradle/
/var/update/
*/.deps/
**/_*/
