/Getperf-*
/.build
/_build*
/Build
MYMETA.*
!META.json
cpanfile.*
/docs/html/*
/t/cacti_cli/**
/t/staging_data/*
/lib/cacti/t
/.prove
/config/*.json
/config/site/*.json
/log/*
/var/zabbix/*
/var/agent/*
/var/docs/*
/var/site/*
/var/cacti/*
/var/template/*
/module/getperf-ws/build/
/module/getperf-ws/lib/
/module/getperf-agent/var/zabbix/zabbix*
**/*.rrd
docs/html.zip
docs/ja/docs/_build/
.vstags

!.gitkeep
/config/ssl/
/t/rra/
/t/rrd/storage/
/module/getperf-ws/.gradle/
/var/update/
**/_*/
